version: "3.9"
services:
  frontend:
    container_name: frontend-nextjs
    build: .
    ports:
      - "3000:3000"
    links:
      - database
    volumes:
      - .:/home/app/
  database:
    container_name: postgres-db
    restart: on-failure
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: admin
      POSTGRES_DB: ecommerce-database
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./app/DataBase/sql/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./app/DataBase/sql/query.sql:/docker-entrypoint-initdb.d/query.sql
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: on-failure
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_LISTEN_PORT: 5050
    ports:
      - 5050:5050
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - database

volumes:
  pgdata:
  pgadmin-data:
  pg-data:
